@import "@/assets/scss/index.scss";

#home-container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    background-color: $backgroundColorBody;
}

.search-input {
    @include inputSearch
}

#pokemons-home-container {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#home-container-dark {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    background-color: rgba(0,0,0,.7);
    #pokemons-home-container {
        border: none;
    }
    .pokemon-container, h1, input {
        opacity: 0.05;
        pointer-events: none;
    }
}

@media (max-width: 800px) {
    * {
        color: black;
    }
    .search-input {
        width: 50vw;
        height: 9vh;
    }
}
